name: ci-cd
on:
  push:
    paths-ignore:
      - "README.md"
      - "CONTRIBUTING.md"
      - "CHANGELOG.md"
      - "LICENSE"
      - ".gitignore"
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      LEIN_ROOT: "true"
      CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
      CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Clojure Tools
        uses: DeLaGuardo/setup-clojure@12.5
        with:
          lein: 2.12.0
          clj-kondo: 2025.09.22

      - name: Create rbac DB
        env:
          PGPASSWORD: postgres
        run: psql -h localhost -c 'create database rbac;' -U postgres

      - name: Check formatting
        run: lein cljfmt check

      - name: Lint
        run: clj-kondo --lint "$(lein classpath)" --dependencies --parallel --copy-configs && clj-kondo --lint src --lint test && lein eastwood

      - name: Test
        env:
          JDBC_DATABASE_URL: jdbc:postgresql://localhost:5432/rbac?user=postgres&password=postgres&reWriteBatchedInserts=true
        run: lein test :all

      - name: Deploy Jar to Clojars
        if: contains(github.ref, 'refs/tags/')
        run: lein deploy
